root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.cs]
dotnet_style_namespace_match_folder = true
csharp_style_namespace_declarations = file_scoped:warning